{% include 'sidebar.html' %}
<main class="mainContainer">
        {% include 'search.html' %}
      <section style='padding: 40px'>
        {{title}} will go here.
      </section>
      </main>
    </section>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js"
      integrity="sha512-vs7+jbztHoMto5Yd/yinM4/y2DOkPLt0fATcN+j+G4ANY2z4faIzZIOMkpBmWdcxt+596FemCh9M18NUJTZwvw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>