<header class="header">
    <div class="header-search">
      <i class="fa-solid fa-magnifying-glass fa-icon search-icon"></i>
      <!-- <i class="fa-solid fa-xmark fa-icon x-icon"></i> -->
      <input
        type="text"
        name="search"
        id="search-input"
        placeholder="Search by account name or website"
      />
    </div>
    <div class="header-profile">
      <div class="notice">
        <span class="dot"></span>
        <img src="/static/images/icons/bell.png" alt="notification" />
      </div>
      <div class="pro-pic">
        <img
          src="/static/images/profile.png"
          alt="profile"
          id="profile"
        />
      </div>
    </div>
</header>