<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/static/images/B2Brain.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The assessment has done by KHONDAKER TANVIR MAHMUD"
    />
    <meta name="author" content="KHONDAKER TANVIR MAHMUD" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css " />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{{title}} Assessment by {{name}}</title>
  </head>
  <body>
    <section class="home-page">
      <aside class="sidebar">
        <div class="logo">
          <a href="/" class="logo-wrap">
            <img src="/static/images/B2Brain.png" alt="logo" class="logo-img" />
            <h1 class="logo-text">B2Brain</h1>
          </a>
        </div>
        <ul class="nav">
          <li id="dashboard" class="nav-container">
            <a href="/dashboard" class="nav-wrap">
              <img
                src="/static/images/icons/home.png"
                alt="home"
                class="nav-icon"
              />
              <h3 class="nav-title">Dashboard</h3>
            </a>
          </li>
          <li id="intels" class="nav-container">
            <a href="/intels" class="nav-wrap">
              <div class="intels-wrap">
                <span class="intels">
                  <img
                    src="/static/images/icons/star.png"
                    alt="star"
                    class="nav-icon"
                  />
                  <h3 class="nav-title">Intels</h3>
                </span>
                <div class="undone">
                  <h5>4 unread</h5>
                </div>
              </div>
            </a>
          </li>
          <li id="leads" class="nav-container">
            <a href="/leads" class="nav-wrap">
              <div class="leads-wrap">
                <span class="leads">
                  <img
                    src="/static/images/icons/user.png"
                    alt="user"
                    class="nav-icon"
                  />
                  <h3 class="nav-title">Leads</h3>
                </span>
                <div class="undone">
                  <h5>4 unseen</h5>
                </div>
              </div>
            </a>
          </li>
          <li id="accounts" class="nav-container">
            <span class="nav-wrap">
              <div class="accounts-wrap">
                <span class="accounts">
                  <img
                    src="/static/images/icons/accounts.png"
                    alt="accounts"
                    class="nav-icon"
                  />
                  <h3 class="nav-title">Accounts</h3>
                </span>
                <i class="fa-solid fa-angle-down fa-icon" id="Icon"></i>
              </div>
            </span>
            <div class="dd-menu">
              <ul class="dd-menu-item">
                <li><a href="#"> Manage all</a></li>
                <li>
                  <a href="#"> Track new accounts</a>
                </li>
                <li><a href="#"> Bulk Import </a></li>
              </ul>
            </div>
          </li>
          <li id="pref" class="nav-container">
            <span class="nav-wrap">
              <div class="pref-wrap">
                <span class="pref">
                  <img
                    src="/static/images/icons/pref.png"
                    alt="pref"
                    class="nav-icon"
                  />
                  <h3 class="nav-title">Preferences</h3>
                </span>
                <i class="fa-solid fa-angle-down fa-icon" id="Icon"></i>
              </div>
            </span>
            <div class="dd-menu">
              <ul class="dd-menu-item">
                <li><a href="#"> Product Focus </a></li>
                <li>
                  <a href="#"> Intel Preferences</a>
                </li>
                <li><a href="#"> Lead Persona </a></li>
              </ul>
            </div>
          </li>
          <li id="integrations" class="nav-heading">
            <a href="/integrations" class="nav-wrap">
              <img
                src="/static/images/icons/link.png"
                alt="link"
                class="nav-icon"
              />
              <h3 class="nav-title">Integrations</h3>
            </a>
          </li>
          <li id="team" class="nav-heading">
            <a href="/team" class="nav-wrap">
              <img
                src="/static/images/icons/users.png"
                alt="users"
                class="nav-icon"
              />
              <h3 class="nav-title">Team</h3>
            </a>
          </li>
          <li id="help" class="nav-heading">
            <a href="/help" class="nav-wrap">
              <img
                src="/static/images/icons/chat.png"
                alt="chat"
                class="nav-icon"
              />
              <h3 class="nav-title">Help / Support</h3>
            </a>
          </li>
        </ul>
      </aside>
